

<div *ngIf="cmp!=='navbar'">
  <div class="toggle-dark-light-mobile">
    <input type="checkbox" class="checkbox" id="checkbox1" (change)="toggleDarkTheme1($event)">
      <label for="checkbox1" class="label">
        <i class="fas fa-moon"></i>
        <i class='fas fa-sun'></i>
        <div class='ball-mobile'></div>
      </label>
</div>
</div>


<div  *ngIf="cmp=='navbar'">
  <div class="toggle-dark-light-normal-screen">
    <input type="checkbox" class="checkbox" id="checkbox2" (change)="toggleDarkTheme2($event)">
      <label for="checkbox2" class="label">
        <i class="fas fa-moon"></i>
        <i class='fas fa-sun'></i>
        <div class='ball'></div>
      </label>
  </div>
</div>