<div #moviedetails class="movie-details">
  <section class="header">
    <app-video-header
      [data]="movieDetails"
      [background_video]="background_video"
    ></app-video-header>
  </section>

  <!-- <main id="main">
    <div class="movie-poster-img">
      <div
        *ngIf="movieDetails.poster_path == null; then thenBlock; else elseBlock"
      ></div>
      <ng-template #thenBlock
        ><img src="assets/images/no-image.png" alt="figure" class="no-image"
      /></ng-template>
      <ng-template #elseBlock
        ><img
          [attr.src]="highqualityImgUrl + movieDetails.poster_path"
          alt="{{ movieDetails.original_title }}"
      /></ng-template>
    </div>
  </main> -->

  <div class="movie-content">

    <div class="Backdropimages">
      <app-backdrop [data]="movieDetails"></app-backdrop>
    </div>
    <hr />

    <div class="posterImages">
      <app-poster [data]="movieDetails"></app-poster>
    </div>
    <hr />

    <div class="videos">
      <app-video [data]="movieDetails"></app-video>
    </div>
    <hr />

    <div class="cast-section">
      <h4 class="movie-heading mt-5">CAST</h4>
      <h5 class="h5 text-center">Click the Person to know more</h5>
      <div
        *ngIf="movieDetails.castList?.length <= 0; then nocast; else castdata"
      ></div>
      <ng-template #castdata>
        <main class="cast">
          <div
            class="movie btn-container"
            *ngFor="let cast_data of movieDetails.castList"
            [routerLink]="['/persondetails', cast_data.id]"
          >
            <app-card [data]="cast_data"></app-card>
          </div>
        </main>
      </ng-template>
      <ng-template #nocast>
        <div id="no-record_cast">
          <h4 class="text-warning text-center">
            Cast not available for {{ movieDetails.original_title }}
          </h4>
        </div>
      </ng-template>
    </div>

    <hr />

    <div class="crew-section">
      <h4 class="movie-heading mt-5">CREW</h4>
      <h5 class="h5 text-center">Click the Person to know more</h5>
      <div
        *ngIf="movieDetails.crewList?.length <= 0; then nocrew; else crewdata"
      ></div>
      <ng-template #crewdata>
        <main class="cast">
          <div
            class="movie btn-container"
            *ngFor="let crew_data of movieDetails.crewList"
            [routerLink]="['/persondetails', crew_data.id]"
          >
            <app-card [data]="crew_data"></app-card>
          </div>
        </main>
      </ng-template>
      <ng-template #nocrew>
        <div id="no-record_crew">
          <h4 class="text-warning text-center">
            Crew not available for {{ movieDetails.original_title }}
          </h4>
        </div>
      </ng-template>
    </div>
    <hr />

    <div class="sim_movies">
      <h4 class="movie-heading mt-5">RECOMMENDED MOVIES</h4>
      <h5 class="h5 text-center">Click the movie to know more</h5>
      <div
        *ngIf="
          movieDetails.recmovieList?.length <= 0;
          then norecmovie;
          else recmovie
        "
      ></div>
      <ng-template #recmovie>
        <main class="s_movies">
          <div
            class="movie rec-movies"
            *ngFor="let r_movies of movieDetails.recmovieList"
            [routerLink]="['/similarmoviesdetails', r_movies.id]"
          >
            <app-card [data]="r_movies"></app-card>
          </div>
        </main>
      </ng-template>
      <ng-template #norecmovie>
        <div id="no-record_recommended_movies">
          <h4 class="text-warning text-center">
            Recommeded movies not available for
            {{ movieDetails.original_title }}
          </h4>
        </div>
      </ng-template>
    </div>
    <hr />

    <div class="sim_movies-section">
      <h4 class="movie-heading mt-5">SIMILAR MOVIES</h4>
      <h5 class="h5 text-center">Click the movie to know more</h5>

      <div
        *ngIf="
          movieDetails.similarmovieList?.length <= 0;
          then nosimmovie;
          else simmoviedata
        "
      ></div>
      <ng-template #simmoviedata>
        <main class="s_movies">
          <div
            class="movie sim-movies"
            *ngFor="let s_movies of movieDetails.similarmovieList"
            [routerLink]="['/similarmoviesdetails', s_movies.id]"
          >
            <app-card [data]="s_movies"></app-card>
          </div>
        </main>
      </ng-template>
      <ng-template #nosimmovie>
        <div id="no-record_similar_movies">
          <h4 class="text-warning text-center">
            Similar movies not avilable for {{ movieDetails.original_title }}
          </h4>
        </div>
      </ng-template>
    </div>
    <hr />
    <div class="reviews-section">
      <app-review [data]="movieDetails"></app-review>
    </div>
    
  </div>
</div>
