<app-loader *ngIf="isLoading"></app-loader>

<div #moviedetails class="movie-details" *ngIf="!isLoading">
  <section class="header">
    <app-video-header
      [data]="movieDetails"
      [background_video]="background_video"
      [background_video_type]="background_video_type"
    ></app-video-header>
  </section>

  <div class="movie-content">
    <div class="Backdropimages" *ngIf="movieDetails.backdropList?.length > 0">
      <app-backdrop [data]="movieDetails"></app-backdrop>
      <hr /> 
    </div>
    

    <div class="posterImages" *ngIf="movieDetails.posterList?.length > 0">
      <app-poster [data]="movieDetails"></app-poster>
      <hr />
    </div>
   

    <div class="videos" *ngIf="movieDetails.videoList?.length > 0">
      <app-video [data]="movieDetails"></app-video>
      <hr />
    </div>
    

    <div class="cast-section" *ngIf="movieDetails.castList?.length > 0">
      <h4 class="movie-heading ">CAST</h4>
      <div
        *ngIf="movieDetails.castList?.length <= 0; then nocast; else castdata"
      ></div>
      <ng-template #castdata>
        <h5 class="h5 text-center">Click the Person to know more</h5>
        <main class="cast">
          <div
            class="movie btn-container"
            *ngFor="let cast_data of movieDetails.castList"
            [routerLink]="['/persondetails', cast_data.id]"
          >
            <app-card [data]="cast_data"></app-card>
          </div>
        </main>
      </ng-template>
      <ng-template #nocast>
        <div id="no-record_cast">
          <h4 class="text-warning text-center">
            Cast not available for {{ movieDetails.original_title }}
          </h4>
        </div>
      </ng-template>

      <hr />
    </div>

   

    <div class="crew-section" *ngIf="movieDetails.crewList?.length > 0">
      <h4 class="movie-heading ">CREW</h4>
      <div
        *ngIf="movieDetails.crewList?.length <= 0; then nocrew; else crewdata"
      ></div>
      <ng-template #crewdata>
        <h5 class="h5 text-center">Click the Person to know more</h5>

        <main class="cast">
          <div
            class="movie btn-container"
            *ngFor="let crew_data of movieDetails.crewList"
            [routerLink]="['/persondetails', crew_data.id]"
          >
            <app-card [data]="crew_data"></app-card>
          </div>
        </main>
      </ng-template>
      <ng-template #nocrew>
        <div id="no-record_crew">
          <h4 class="text-warning text-center">
            Crew not available for {{ movieDetails.original_title }}
          </h4>
        </div>
      </ng-template>
      <hr />
    </div>
  

    <div class="sim_movies" *ngIf="
    movieDetails.recmovieList?.length > 0">
      <h4 class="movie-heading ">RECOMMENDED MOVIES</h4>
      <div
        *ngIf="
          movieDetails.recmovieList?.length <= 0;
          then norecmovie;
          else recmovie
        "
      ></div>
      <ng-template #recmovie>
        <h5 class="h5 text-center">Click the movie to know more</h5>

        <main class="s_movies">
          <div
            class="movie rec-movies"
            *ngFor="let r_movies of movieDetails.recmovieList"
            [routerLink]="['/similarmoviesdetails', r_movies.id]"
          >
            <app-card [data]="r_movies"></app-card>
          </div>
        </main>
      </ng-template>
      <ng-template #norecmovie>
        <div id="no-record_recommended_movies">
          <h4 class="text-warning text-center">
            Recommeded movies not available for
            {{ movieDetails.original_title }}
          </h4>
        </div>
      </ng-template>
      <hr />
    </div>
  

    <div class="sim_movies-section" *ngIf="
    movieDetails.similarmovieList?.length > 0">
      <h4 class="movie-heading ">SIMILAR MOVIES</h4>
      <div
        *ngIf="
          movieDetails.similarmovieList?.length <= 0;
          then nosimmovie;
          else simmoviedata
        "
      ></div>
      <ng-template #simmoviedata>
        <h5 class="h5 text-center">Click the movie to know more</h5>
        <main class="s_movies">
          <div
            class="movie sim-movies"
            *ngFor="let s_movies of movieDetails.similarmovieList"
            [routerLink]="['/similarmoviesdetails', s_movies.id]"
          >
            <app-card [data]="s_movies"></app-card>
          </div>
        </main>
      </ng-template>
      <ng-template #nosimmovie>
        <div id="no-record_similar_movies">
          <h4 class="text-warning text-center">
            Similar movies not avilable for {{ movieDetails.original_title }}
          </h4>
        </div>
      </ng-template>
      <hr />
    </div>
    
    <div class="reviews-section" *ngIf="movieDetails.reviewList?.length > 0">
      <app-review [data]="movieDetails"></app-review>
    </div>
  </div>
</div>
