main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
hr {
  color: var(--base-white);
  height: 2px;
}
ngb-rating {
  color: var(--base-orange);
  font-size: 20px;
}
.movie-content {
  margin-left: 2%;
  margin-right: 2%;
  color: var(--base-white);
}
.details-table {
  margin-left: 10%;
  margin-right: 5%;
  justify-content: center;
  display: flex;
}
.details-name {
  padding: 5px 15px;
  color: var(--base-orange);
  text-transform: uppercase;
}
.colon {
  padding: 5px 15px;
}
.details-value {
  padding: 5px 15px;
}

.movie-heading {
  display: block;
  text-transform: uppercase;
  color: var(--dark-red);
  text-align: center;
  font-family: Monoton;
}
h5 {
  font-family: Monoton;
}
h4 {
  font-family: Monoton;
}
.movie {
  width: 250px;
  margin: 0.5rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-color);
  transition: background-color 2s;
  position: relative;
  overflow: hidden;
  transition: all 1.5s ease-in-out;
  cursor: pointer;
}

#movie-logo {
  width: 20%;
  height: 20%;
}

.no-image {
  object-fit: cover;
  height: 376px;
}
.sim-movies:hover {
  /* top:-10px; */
  cursor: pointer;
  /* opacity: 0.8; */
}
.rec-movies:hover {
  /* top: -10px; */
  cursor: pointer;
  /* opacity: 0.8; */
}

.btn-container:hover .btn-image {
  opacity: 0.3;
}

.btn-container:hover .btn-middle {
  opacity: 1;
}

figure {
  margin: 0;
  padding: 0;
  background: var(--secondary-color);
  overflow: hidden;
}

/* Circle */
/* .sim-movies figure {
	position: relative;
}
.sim-movies figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.sim-movies figure:hover::before {
	-webkit-animation: circle 1.5s;
	animation: circle 1.5s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
} */
.cta {
  display: flex;
  padding: 10px 35px;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 25px;
  color: white;
  background: red;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 var(--base-orange);
}

.cta span:nth-child(2) {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover span:nth-child(2) {
  transition: 0.5s;
  margin-right: 45px;
}

.span-watchnow {
  transform: skewX(15deg);
}

.span-watchnow:nth-child(2) {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

/**************SVG****************/

path.one {
  transition: 0.4s;
  transform: translateX(-60%);
}

path.two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.cta:hover path.three {
  animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
  0% {
    fill: var(--base-white);
  }
  50% {
    fill: var(--base-orange);
  }
  100% {
    fill: var(--base-white);
  }
}

/* system and tab */
@media only screen and (min-width: 600px) {
  /* Banner Section Start */

  .header {
    min-height: 780px;
    width: 100%;
    top: -10px;
    position: relative;
  }

  .movie-poster-img {
    display: none;
  }
  .tr-overview {
    display: none;
  }

  .wrapper-watchnow {
    display: flex;
    margin-top: 20px;
  }
  .watchnow-btn {
    display: none;
  }
}

/* for mobile */
@media only screen and (max-width: 900px) {
  .tr-overview {
    display: contents;
  }

  .watchnow-btn {
    display: block;
  }
  .wrapper-watchnow {
    display: flex;
    justify-content: center;
  }
  .movie-poster-img {
    display: block;
    width: 400px;
    margin: 0.5rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    justify-content: center;
  }

  .movie-poster-img img {
    width: 100%;
    height: 100%;
    /* height: 100%; */
    object-fit: cover;
    overflow: hidden;
    transition: all 1.5s ease-in-out;
  }

  .movie-poster-img img:hover {
    transform: scale(1.35) rotateZ(5deg);
  }
}

@media only screen and (max-width: 600px) {
  #movie-logo {
    width: 70%;
    height: 100%;
  }
  .movie {
    width: 500px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: var(--secondary-color);
    transition: background-color 2s;
    position: relative;
    overflow: hidden;
  }
}
