<section class="lg-video-header font-kanit">
  <section class="showcase" *ngIf="background_video && playVideo">
    <div class="videoContainer text-white">
      <iframe
        frameborder="0"
        allowfullscreen="1"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        title="YouTube video player"
        width="100%"
        height="100%"
        [src]="background_video"
        data-gtm-yt-inspected-6="true"
      ></iframe>
    </div>
    <div class="overlay-b"></div>
    <div class="text">
      <a
        class="play playBut "
        style="
          background-color: transparent;
          color: white;
          cursor: pointer;
        "
        (click)="stopTrailer()"
      >
        <div style="display: inline-block; width: 35px">
          <svg
            id="playBtn"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
            x="0px"
            y="0px"
            width="213.7px"
            height="213.7px"
            viewBox="0 0 213.7 213.7"
            enable-background="new 0 0 213.7 213.7"
            xml:space="preserve"
          >
            <polygon
              class="triangle"
              id="XMLID_18_"
              fill="none"
              stroke-width="7"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              points="
                  73.5,62.5 148.5,105.8 73.5,149.1 "
            />
            <circle
              class="circle"
              id="XMLID_17_"
              fill="none"
              stroke-width="7"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              cx="106.8"
              cy="106.8"
              r="103.3"
            />
          </svg>
        </div>
        Stop
      </a>
      <h3 class="text-white" (click)="stopTrailer()">
        <div class="mt-5" *ngIf="data.logoList">
          <img
            style="width: 20%; height: 20%"
            src="{{ highQualityImgUrl + data.logoList.file_path }}"
          />
        </div>
        <span *ngIf="!data.logoList">{{ data.original_title }}</span>
      </h3>
    </div>
  </section>

  <section *ngIf="!playVideo">
    <div
      class="header"
      [style.backgroundImage]="'url(' + data.background_image + ')'"
    ></div>

    <div class="scroll-indicator"></div>
    <div class="header-content">
      <div class="left-img">
        <div class="header-img">
          <div
            *ngIf="data.poster_path == null; then thenBlock; else elseBlock"
          ></div>
          <ng-template #thenBlock
            ></ng-template>
          <ng-template #elseBlock
            ><img
              [attr.src]="highQualityImgUrl + data.poster_path"
              alt="{{ data.original_title }}"
          /></ng-template>
        </div>
      </div>
      <div class="overlay"></div>
      <div class="right-content">
        <div class="home-slide-item-content">
          <div class="items">
            <div class="item-title">
              <span
                *ngIf="!data.logoList"
              >
                <span
                  *ngIf="data.title"
                  style="font-family: 'Kanit', sans-serif; color: red; font-size: 30px"
                  >{{ data.title }}</span
                >
                <span
                  *ngIf="data.name"
                  style="font-family: 'Kanit', sans-serif; color: red; font-size: 30px"
                  >{{ data.name }}</span
                >
                <span
                  *ngIf="!data.name && !data.title && data.original_title"
                  style="font-family: 'Kanit', sans-serif; color: red; font-size: 30px"
                  >{{ data.original_title }}</span
                >
              </span>

              <div
                class="mt-5"
                *ngIf="data.logoList != null"
              >
                <img
                  id="logo-img"
                  src="{{ highQualityImgUrl + data.logoList.file_path }}"
                />
              </div>
            </div>
            <div
              class="header-detail"
            >
              <div class="rating" *ngIf="data.vote_average">
                <img src="assets/images/IMDb-icon.png" alt="imbd" />

                <span
                  *ngIf="data.vote_average"
                  [ngClass]="{
                    red: data.vote_average <= 5,
                    orange: data.vote_average > 5 && data.vote_average < 8,
                    green: data.vote_average >= 8
                  }"
                >
                  {{ data.vote_average }}</span
                >
              </div>
              <span *ngIf="data.runtime" class="text-white badge"
                ><img src="assets/images/clock.png" style="width: 15px; height:15px" >
                {{ data.runtime + " min" }}</span
              >
              <span *ngIf="data.release_date" class="text-white badge"
                ><img src="assets/images/calendar.png" style="width: 15px; height:15px" >
                {{ data.release_date | date }}</span
              >
              <span *ngIf="data.first_air_date" class="text-white badge"
                ><img src="assets/images/calendar.png" style="width: 15px; height:15px">
                {{ data.first_air_date | date }}</span
              >
              <span *ngIf="data.status" class="text-white badge">
                {{ getDisplayStatus() }}
              </span>
              <span *ngIf="!isCarousel && isTvShowContent() && data.type" class="text-white badge">
                {{ data.type }}
              </span>
              <span *ngIf="!isCarousel && isTvShowContent() && data.no_of_seasons" class="text-white badge">
                {{ data.no_of_seasons }} Seasons
              </span>
              <span *ngIf="!isCarousel && isTvShowContent() && data.no_of_episodes" class="text-white badge">
                {{ data.no_of_episodes }} Episodes
              </span>
            </div>
            <div
              class="header-detail text-danger"
              *ngIf="data.genre"
            >
              <span
                *ngFor="let genre of data.genre; let i = index"
                class="badge text-bg-danger color-white bg-danger rounded m-2"
              >
                {{ genre.name }}
              </span>
            </div>
            <div
              class="header-detail text-danger"
              *ngIf="data.genre_ids"
              data-aos="fade-down"
            >
              <span
                *ngFor="let genre of data.genre_ids; let i = index"
                class="badge text-bg-danger color-white bg-danger rounded m-2"
              >
                {{ genre.name }}
              </span>
            </div>
            <div class="item-overview" style="margin-right: 60px;">
              <p>{{ data.overview }}</p>
            </div>
            <div
              class="production text-white text-wrap mt-2"
            >
              <span *ngIf="data?.production_companies?.length > 0"
                >Production :
              </span>
              <span
                *ngFor="let prod of data.production_companies; let i = index"
              >
                <span
                  >{{ prod.name
                  }}<span *ngIf="data.production_companies.length != i + 1">
                    ,
                  </span></span
                >
              </span>
            </div>

            <div
              class="streaming text-white text-wrap mt-2"
            >
              <span *ngIf="data?.networks?.length > 0"> Streaming On : </span>
              <span
                *ngFor="let stream of data.networks; let i = index"
                class="pl-2"
              >
                <span>
                  <span>{{ stream.name }}</span>
                  <span *ngIf="data.networks.length != i + 1"> , </span>
                </span>
              </span>
            </div>

            <div class="watch-now d-flex">
              <div
                class="wrapper-watchnow "
                *ngIf="background_video"
                style="cursor: pointer; margin-right: 25px"
              >
                <a class="play playBut" (click)="playTrailer()">
                  <div style="display: inline-block; width: 35px">
                    <svg
                      id="playBtn"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                      x="0px"
                      y="0px"
                      width="213.7px"
                      height="213.7px"
                      viewBox="0 0 213.7 213.7"
                      enable-background="new 0 0 213.7 213.7"
                      xml:space="preserve"
                    >
                      <polygon
                        class="triangle"
                        id="XMLID_18_"
                        fill="none"
                        stroke-width="7"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-miterlimit="10"
                        points="
                                          73.5,62.5 148.5,105.8 73.5,149.1 "
                      />
                      <circle
                        class="circle"
                        id="XMLID_17_"
                        fill="none"
                        stroke-width="7"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-miterlimit="10"
                        cx="106.8"
                        cy="106.8"
                        r="103.3"
                      />
                    </svg>
                  </div>
                  Latest {{background_video_type}}
                </a>
              </div>

              <div
                class="wrapper-watchnow "
                style="cursor: pointer"
                *ngIf="data.watchprovider"
              >
                <a class="play playBut" [href]="data?.watchprovider" target="_blank" rel="noopener noreferrer">
                  <div style="display: inline-block; width: 35px">
                    <svg
                      id="playBtn"
                      version="1.1"
                      xmlns="http://www.w3.org/2000/svg"
                      xmlns:xlink="http://www.w3.org/1999/xlink"
                      xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
                      x="0px"
                      y="0px"
                      width="213.7px"
                      height="213.7px"
                      viewBox="0 0 213.7 213.7"
                      enable-background="new 0 0 213.7 213.7"
                      xml:space="preserve"
                    >
                      <polygon
                        class="triangle"
                        id="XMLID_18_"
                        fill="none"
                        stroke-width="7"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-miterlimit="10"
                        points="
                                                  73.5,62.5 148.5,105.8 73.5,149.1 "
                      />
                      <circle
                        class="circle"
                        id="XMLID_17_"
                        fill="none"
                        stroke-width="7"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-miterlimit="10"
                        cx="106.8"
                        cy="106.8"
                        r="103.3"
                      />
                    </svg>
                  </div>
                  Watch Now
                </a>
              </div>
            </div>
            <div
              class="wrapper-watchnow mt-4 "
              style="cursor: pointer"
              *ngIf="data.name || data.title || data.original_title"
              >
              <span
                class="play playBut"
                *ngIf="inWatchList"
                (click)="removeFromWatchList(data)"
              >
                <div style="display: inline-block; width: 35px">
                  <!-- <i class="fa-regular fa-circle-check fa-2xl"></i> -->
                  <img
                    src="assets/images/tick-circle.svg"
                    alt=""
                    width="100%"
                  />
                </div>
                ADDED TO WATCH LIST
              </span>
              <span
                class="play playBut"
                (click)="addTowatchList(data)"
                *ngIf="!inWatchList"
              >
                <div style="display: inline-block; width: 35px">
                  <img src="assets/images/plus-circle.svg" alt="" style="width: 35px;" />
                </div>
                WATCH LIST
              </span>
              <span
                class="play playBut"
                [routerLink]="data?.media_type==='movie'?['/moviedetails', data.id]:['/tvshowdetails',data.id]"
                *ngIf="isCarousel"
              >
                <div style="display: inline-block; width: 40px;">
                  <img src="assets/images/info.svg" alt="" style="width:35px;padding: 0px;" />
                </div>
                More Details
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>

<section class="sm-video-header">
  <div class="image">
    <img
      [src]="highQualityImgUrl + data.backdrop_path"
      alt=""
      *ngIf="isCarousel"

      style="height:320px;width: 100%; clip-path: circle(100% at 50% -20%);object-fit: cover;"
    />
    <img
      [src]="highQualityImgUrl + data.backdrop_path"
      alt=""
      *ngIf="!isCarousel"

      style="height:350px;width: 100%; clip-path: circle(100% at 50% -10%);object-fit: cover;"
    />
    <div class="poster-path" style="position: relative;">
      <img
        *ngIf="!isCarousel"
        [src]="highQualityImgUrl + data.poster_path"
        alt=""
        style="
          height: 190px;
          width: 130px;
          border-radius: 30px;
          margin-top: -100px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        "
      />
      <img
        *ngIf="isCarousel"
        [src]="highQualityImgUrl + data.poster_path"
        alt=""
        style="     
          height: 190px;
          width: 140px;
          border-radius: 30px;
          margin-top: -100px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          object-fit: cover;
        "
      />
    </div>
  </div>
  <div class="movie-details" style="margin-top: 10px">
    <h4
      class="d-flex justify-content-center"
      style="color: red;text-align: center;"
    >
      <span *ngIf="data.original_title">
        {{ data.original_title }}
      </span>
      <span *ngIf="!data.original_title && data.name">{{ data.name }}</span>
    </h4>
    <div
      class="header-detail text-danger d-flex justify-content-center"
      *ngIf="data.genre"
      style="flex-wrap: wrap;"
    >
      <span
        *ngFor="let genre of data.genre; let i = index"
        class="badge text-bg-danger color-white bg-danger rounded m-2"
      >
        {{ genre.name }}
      </span>
    </div>
    <div
      class="header-detail text-danger d-flex justify-content-center"
      *ngIf="data.genre_ids"
      style="flex-wrap: wrap;"

    >
      <span
        *ngFor="let genre of data.genre_ids; let i = index"
        class="badge text-bg-danger color-white bg-danger rounded m-2"
      >
        {{ genre.name }}
      </span>
    </div>
    <div class="mobile-meta-grid">
      <div
        class="mobile-meta-item"
        *ngIf="data.first_air_date || data.release_date"
      >
        <span class="mobile-meta-label">Release Date</span>
        <span class="mobile-meta-value mobile-meta-value-sm">{{
          (data.first_air_date || data.release_date) | date
        }}</span>
      </div>
      <div
        class="mobile-meta-item"
        *ngIf="data.runtime || data.avg_run_time"
      >
        <span class="mobile-meta-label">Duration</span>
        <span class="mobile-meta-value mobile-meta-value-sm">{{
          (data.runtime || data.avg_run_time) + " min(s)"
        }}</span>
      </div>
      <div
        class="mobile-meta-item"
        *ngIf="data.vote_average"
      >
        <span class="mobile-meta-label">Vote Avg</span>
        <span class="mobile-meta-value">{{ data.vote_average }}</span>
      </div>
      <div
        class="mobile-meta-item"
        *ngIf="data.vote_count"
      >
        <span class="mobile-meta-label">Votes</span>
        <span class="mobile-meta-value">{{ data.vote_count }}</span>
      </div>
      <div
        class="mobile-meta-item"
        *ngIf="!isCarousel && isTvShowContent() && data.status"
      >
        <span class="mobile-meta-label">Status</span>
        <span class="mobile-meta-value mobile-meta-value-sm">{{ getDisplayStatus() }}</span>
      </div>
      <div
        class="mobile-meta-item"
        *ngIf="!isCarousel && isTvShowContent() && data.type"
      >
        <span class="mobile-meta-label">Type</span>
        <span class="mobile-meta-value mobile-meta-value-sm">{{ data.type }}</span>
      </div>
      <div
        class="mobile-meta-item"
        *ngIf="!isCarousel && isTvShowContent() && data.no_of_seasons"
      >
        <span class="mobile-meta-label">Seasons</span>
        <span class="mobile-meta-value">{{ data.no_of_seasons }}</span>
      </div>
      <div
        class="mobile-meta-item"
        *ngIf="!isCarousel && isTvShowContent() && data.no_of_episodes"
      >
        <span class="mobile-meta-label">Episodes</span>
        <span class="mobile-meta-value">{{ data.no_of_episodes }}</span>
      </div>
    </div>

    <div class="mobile-carousel-actions" *ngIf="isCarousel">
      <span
        class="play playBut"
        [routerLink]="data?.media_type==='movie'?['/moviedetails', data.id]:['/tvshowdetails',data.id]"
      >
        <div style="display: inline-block; width: 35px;">
          <img src="assets/images/info.svg" alt="" style="width:30px;padding: 0px;" />
        </div>
        More Details
      </span>
      <span
        class="play playBut"
        *ngIf="inWatchList"
        (click)="removeFromWatchList(data)"
      >
        <div style="display: inline-block; width: 35px">
          <img src="assets/images/tick-circle.svg" alt="" width="100%" />
        </div>
        Added To Watch List
      </span>
      <span
        class="play playBut"
        (click)="addTowatchList(data)"
        *ngIf="!inWatchList"
      >
        <div style="display: inline-block; width: 35px">
          <img src="assets/images/plus-circle.svg" alt="" style="width:35px" />
        </div>
        Watch List
      </span>
    </div>

    <div
      class="rating d-flex justify-content-center mt-1"
      style="color: red"
      *ngIf="data.vote_average"
    >
      <ngb-rating
        [max]="10"
        [(rate)]="data.vote_average"
        [readonly]="true"
      ></ngb-rating>
    </div>

    <div class="m-2 text-white text-center">
      <h5 style="color: red">Overview</h5>
      <span style="font-size: 13px;text-wrap: balance;">{{ getOverviewText() }}</span>
    </div>
    <div
      class=" m-2 text-white text-center"
      *ngIf="data?.networks?.length > 0"
    >
      <h5 style="color: red" class="text-center">Streaming On</h5>
      <div class="streaming text-white text-wrap mt-2">
        <span *ngFor="let stream of data.networks; let i = index" class="pl-2">
          <!-- <span *ngIf="stream.logo_path">
            <img
              src="{{ highQualityImgUrl + stream.logo_path }}"
              class="network-img"
              style="width: 100px; height: 40px; margin: 10px"
            />
          </span> -->
          <span>
            <span>{{ stream.name }}</span>
            <span *ngIf="data.networks.length != i + 1"> , </span>
          </span>
        </span>
      </div>
    </div>

    <div
      class="wrapper-watchnow "
      style="cursor: pointer; display: flex; justify-content: center"
      *ngIf="data.watchprovider"
    >
      <a class="play playBut" [href]="data?.watchprovider" target="_blank" rel="noopener noreferrer">
        <div style="display: inline-block; width: 35px">
          <svg
            id="playBtn"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns:a="http://ns.adobe.com/AdobeSVGViewerExtensions/3.0/"
            x="0px"
            y="0px"
            width="213.7px"
            height="213.7px"
            viewBox="0 0 213.7 213.7"
            enable-background="new 0 0 213.7 213.7"
            xml:space="preserve"
          >
            <polygon
              class="triangle"
              id="XMLID_18_"
              fill="none"
              stroke-width="7"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              points="
                                          73.5,62.5 148.5,105.8 73.5,149.1 "
            />
            <circle
              class="circle"
              id="XMLID_17_"
              fill="none"
              stroke-width="7"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-miterlimit="10"
              cx="106.8"
              cy="106.8"
              r="103.3"
            />
          </svg>
        </div>
        Watch Now
      </a>
    </div>

    <div
      class="wrapper-watchnow mt-4 "
      style="cursor: pointer;display: flex; justify-content: center"
      *ngIf="!isCarousel && (data.name || data.title || data.original_title)"
          >
      <span
        class="play playBut"
        *ngIf="inWatchList"
        (click)="removeFromWatchList(data)"
      >
        <div style="display: inline-block; width: 35px">
          <!-- <i class="fa-regular fa-circle-check fa-2xl"></i> -->
          <img src="assets/images/tick-circle.svg" alt="" width="100%" />
        </div>
        ADDED TO WATCH LIST
      </span>
      <span
        class="play playBut"
        (click)="addTowatchList(data)"
        *ngIf="!inWatchList"
      >
        <div style="display: inline-block; width: 35px">
          <img src="assets/images/plus-circle.svg" alt="" style="width:35px" />
        </div>
        WATCH LIST
      </span>
    </div>
  </div>
</section>
