<div class="persons-section mt-5">
  <nav
    class="navbar navbar-expand mt-4 navbar-light"
    aria-label="Second navbar example"
    style="z-index: 1000000"
    *ngIf="peopleList.length > 0"
  >
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <div class="lg-search">
          <form
            action=""
            class="search-box"
            id="form"
            [formGroup]="searchForm"
            (ngSubmit)="getSearchContent()"
          >
            <input
              type="text"
              name="search"
              placeholder="Search person"
              formControlName="personName"
              class="search-input"
              (keyup)="findPeoples()"
              [(ngModel)]="findthispeoples"
            />
            <button type="submit">
              <i class="fas fa-search"></i>
            </button>
          </form>
          <div class="search-list" id="search-list-lg">
            <!-- list here -->

            <div
              class="search-list-item"
              *ngFor="let s of searchList"
              [routerLink]="['/persondetails', s.id]"
            >
              <div class="search-item-thumbnail">
                <p
                  *ngIf="s.profile_path == null; then thenBlock; else elseBlock"
                ></p>

                <ng-template #thenBlock>
                  <img src="assets/images/no-image.png" />
                </ng-template>
                <ng-template #elseBlock>
                  <img src="{{ imgUrl + s.profile_path }}" />
                </ng-template>
              </div>
              <div class="search-item-info">
                <h3>{{ s.name }}</h3>
                <span
                  [ngClass]="{
                    red: s.popularity < 50,
                    orange: s.popularity >= 50 && s.popularity < 80,
                    green: s.popularity >= 80
                  }"
                >
                  <i class="fa-solid fa-thumbs-up"></i>
                  {{ float2int(s.popularity) }}</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="sm-search" style="z-index: 100000000000; position: relative" *ngIf="peopleList.length > 0">
    <form
      action=""
      class="search-box"
      id="form"
      [formGroup]="searchForm"
      (ngSubmit)="getSearchContent()"
    >
      <input
        type="text"
        name="search"
        placeholder="Search person"
        formControlName="personName"
        class="search-input"
        (keyup)="findPeoples()"
        [(ngModel)]="findthispeoples"
      />
      <button type="submit">
        <i class="fas fa-search"></i>
      </button>
    </form>
    <div class="search-list" id="search-list-sm">
      <!-- list here -->

      <div
        class="search-list-item"
        *ngFor="let s of searchList"
        [routerLink]="['/persondetails', s.id]"
      >
        <div class="search-item-thumbnail">
          <p *ngIf="s.profile_path == null; then thenBlock; else elseBlock"></p>

          <ng-template #thenBlock>
            <img src="assets/images/no-image.png" />
          </ng-template>
          <ng-template #elseBlock>
            <img src="{{ imgUrl + s.profile_path }}" />
          </ng-template>
        </div>
        <div class="search-item-info">
          <h3>{{ s.name }}</h3>
          <span
            [ngClass]="{
              red: s.popularity < 50,
              orange: s.popularity >= 50 && s.popularity < 80,
              green: s.popularity >= 80
            }"
          >
            <i class="fa-solid fa-thumbs-up"></i>
            {{ float2int(s.popularity) }}</span
          >
        </div>
      </div>
    </div>
  </div>

  <!-- <span *ngIf="mobiledevice">
    <app-dark-toggle [cmp]="component"></app-dark-toggle>
  </span> -->
  <h5 class="text-center filtered-value font-kanit"  *ngIf="peopleList.length > 0">{{ sortby_value | uppercase }}</h5>

  <main id="main">
    <div
      id="person"
      class="person"
      *ngFor="let person of peopleList"
      [routerLink]="['/persondetails', person.id]"
    >
      <app-card [data]="person"></app-card>
    </div>
  </main>

  <div class="pagination" *ngIf="peopleList.length > 0">
    <button
      class="btn"
      id="prev"
      [disabled]="isdisableprev"
      (click)="handlePagination(2)"
    >
      Prev
    </button>
    <button
      class="btn"
      id="home"
      (click)="handlePagination(1)"
      style="border-radius: 100%"
    >
      {{ page_no }}
    </button>
    <button
      class="btn"
      id="next"
      [disabled]="isdisablenext"
      (click)="handlePagination(3)"
    >
      Next
    </button>
  </div>
  <div *ngIf="peopleList.length <= 0">
    <h5 class="filtered-value text-center font-kanit">No persons Found</h5>
  </div>
</div>
