        
        <!-- {{data|json}} -->
       
       <div *ngIf="data.poster_path==null;then thenBlock else elseBlock"></div>

        <ng-template #thenBlock>
            <figure>
                <img src="assets/images/no-image.png" alt="figure" class="no-image">
            </figure>
        </ng-template>
        <ng-template #elseBlock>
            <figure>
                <img src="{{imgUrl+data.poster_path}}" alt="figure" class="image">
            </figure>
        </ng-template>
    
        <div class="card-info title" *ngIf="!data.character">
            <h4 class="card-name" *ngIf="data.title">{{data.title}}</h4>
            <span class="card-rating" *ngIf="data.vote_average" [ngClass]="{'red':data.vote_average<=5,'orange':data.vote_average>5&&data.vote_average<8,'green':data.vote_average>=8}">{{float2int(((data.vote_average/10)*100)) + '%'}}</span>
        </div>

        <div class="card-info-cast" *ngIf="data.character">
            <h4>{{data.title}}</h4>
            <span>AS {{data.character}}</span>
        </div>
    
        
        <div class="card-info star-rating" *ngIf="data.vote_average && !data.character && !data.job">
            <ngb-rating [max]="10" [(rate)]="data.vote_average" [readonly]="true" [ngClass]="{'red':data.vote_average<=5,'orange':data.vote_average>5&&data.vote_average<8,'green':data.vote_average>=8}"></ngb-rating>
        </div>
        <div class="card-date" *ngIf="data.release_date && !data.character && !data.job">
            <p>{{data.release_date | date}}</p> 
        </div>

        <div class="card-info" *ngIf="data.job && !data.character ">
            <p>{{'Job : '+ data.job}}</p>
        </div>

        <div class="card-info" *ngIf="data.popularity && !data.character && !data.job">
            <span>Popularity : <span [ngClass]="{'red':data.popularity<50,'orange':data.popularity>=50&&data.popularity<80,'green':data.popularity>=80}"> <i class="fa-solid fa-thumbs-up"></i> {{float2int(data.popularity)}}</span> </span>
        </div>

        