<!-- {{data|json}} -->
<span
  *ngIf="isCollections && data?.parts"
  style="
    color: #fff;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
    background-color: red;
    width: 25px;
    height: 23px;
    border-radius: 50%;
    text-align: center;
  "
  data-aos="fade-left"
  >{{ data?.parts?.length }}</span
>
<div *ngIf="data.poster_path == null; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
  <figure>
    <img
      src="assets/images/no-image.png"
      alt="figure"
      class="no-image"
      data-aos="zoom-in"
    />
  </figure>
</ng-template>
<ng-template #elseBlock>
  <figure>
    <img
      src="{{ imgUrl + data.poster_path }}"
      alt="figure"
      class="image"
      data-aos="zoom-in"
    />
  </figure>
</ng-template>

<div
  *ngIf="!data.character && !data.job"
  class="text-over-card bg-transparent"
  data-aos="fade-left"
>
  <span *ngIf="data.title" style="font-size: 13px">{{ data.title }} </span>
  <span *ngIf="!data.title && data.name" style="font-size: 13px"
    >{{ data.name }}
  </span>
  <span style="font-size: 13px" *ngIf="data.release_date && !data.first_air_date">{{
    data.release_date | date
  }}</span>
  <span style="font-size: 13px" *ngIf="data.first_air_date">{{
    data.first_air_date | date
  }}</span>
  <div class="rating" *ngIf="data.vote_average">
    <span
      *ngIf="data.vote_average"
      [ngClass]="{
        red: data.vote_average <= 5,
        orange: data.vote_average > 5 && data.vote_average < 8,
        green: data.vote_average >= 8
      }"
    >
      {{ data.vote_average }}</span
    >
    <img src="assets/images/IMDb-icon.png" alt="imbd" />
  </div>
</div>
<div *ngIf="data.character" class="text-over-card" data-aos="fade-left">
  <span *ngIf="data.title">{{ data.title }}</span>
  <span>AS {{ data.character }}</span>
</div>

<div
  *ngIf="data.job && !data.character"
  class="text-over-card"
  data-aos="fade-left"
>
  <span *ngIf="data.title">{{ data.title }}</span>
  <span>{{ "Job : " + data.job }}</span>
</div>

