
.backdrop-background{
    width: 100%;
    height: 100%;
    background-color: black;
}
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.lg-carousel{
    display: block;
}
.sm-carousel{
    display: none;
}
.md-carousel{
    display: none;
}
hr{
    color: #fff;
    height: 2px;
}
ngb-rating {
    color: #FFC107;
    font-size: 20px;
}
.tvshow-content{
    margin-left: 2%;
    margin-right:2%;
    color:#fff;
}
.date{
    color: #eee;
    display: flex;
    justify-content:start;
    margin: 10px;
    padding: 5px;
}
.details-table{
    margin-left: 10%;
    margin-right:5%;
    justify-content: center;
    display: flex;
}
.details-name{
    padding: 5px 15px;
    color:orange;
    text-transform: uppercase;
}
.colon{
  
    padding: 5px 15px;
}
.details-value{
    padding: 5px 15px;
}


.tvshow-heading{
    display: block;
    text-transform:uppercase;
    color:red;
    text-align: center;
}
.tvshow{
    width:250px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.tvshow img{
    width:100%;
}

.tvshow-info, .tvshow-info-sea{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 00.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: all 1s ease-in-out;
}

.tvshow:hover .overview{
    transform: translateY(0);
}
.tvshow-info-cast,.tvshow-info-crew{
    color: #eee;
    padding: 00.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.tvshow-info h4{
    margin-top: 0;
    width: 80%;
    font-size: 20px;
}

.tvshow-info-sea h4{
    margin-top: 0;
    width: 50%;
    font-size: 20px;
}
.tvshow-rating{
    margin: 5px;
    width: 20%;
}

.no-image{
    object-fit: cover;
    height: 376px;
}
.tvshow-info span{
    background-color: var(--primary-color);
    padding: 0.25rem;
    border-radius: 3px;
    font-weight: bold;
}

.green{
    color: lightgreen;
}
.orange{
    color: orange;
}
.red{
    color: red;
}
 

.network-img{
    width: 100px;
    height:50px;
}
.pagination{
    justify-content: center;
    padding: 10px;
}

.move-top .btn{
    border-radius: 100%;
    position: fixed;
    bottom: 560px;
    margin-left: 96%;
    z-index: 10;
}


.btn {
    color: #ffffff;
    padding: 0.7rem;
    text-transform: uppercase;
    font-size: 1rem;
    text-align: center;
    background-color: red;
}
.btn:hover{
    background-color: orange;
    color: white;
}
/* 
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.4s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  } */

  #tvshow-logo{
      width: 20%;
      height: 20%;
  }
 

.sim-tvshow:hover{
    /* top:-10px; */
    cursor: pointer;
    /* opacity: 0.8; */
}
.rec-tvshow:hover{
    /* top: -10px; */
    cursor: pointer;
    /* opacity: 0.8; */
}
 

  
  .table-review-head{
      color: orange;
  }
  
  .table-review-head td{
      border: 2px solid red;
      /* margin: 1rem; */
      padding: 1.5rem;
  }

  .table-review-body{
      font-weight: normal;
      line-height: 1rem;
  }
  .table-review-body td{
      border: 2px solid red;
      /* margin: 1rem; */
      font-family: 'Poppins','sanserif';
      word-spacing: 2px;
      letter-spacing: 1px;
      line-height: 1.6rem;
      /* text-indent: 10px; */
      padding: 1.5rem;
  }

 
  .btn-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .btn-middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .btn-container:hover .btn-image {
    opacity: 0.3;
  }
  
  .btn-container:hover .btn-middle {
    opacity: 1;
  }
  .btn-info {
    color: #ffffff;
    padding: 0.7rem;
    text-transform: uppercase;
    font-size: 0.8rem;
    text-align: center;
    border-radius: 20%;
    transition: .5s ease;
    color: #fff;
    background-color: red;
}
.btn-info:hover{
    background-color: orange;
    transition: .5s ease;
    color: white;
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}



/* Circle */
.sim-tvshow figure {
	position: relative;
}
.sim-tvshow figure::before {
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;
	display: block;
	content: '';
	width: 0;
	height: 0;
	background: rgba(255,255,255,.2);
	border-radius: 100%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 0;
}
.sim-tvshow figure:hover::before {
	-webkit-animation: circle 1.5s;
	animation: circle 1.5s;
}
@-webkit-keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}

/* Shine */
.rec-tvshow figure {
    position: relative;
}
.rec-tvshow figure::before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.rec-tvshow figure:hover::before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}



  
.cta {
    display: flex;
    padding: 10px 35px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: white;
    background: red;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
}

.cta:focus {
   outline: none; 
}

.cta:hover {
    transition: 0.5s;
    box-shadow: 10px 10px 0 #FBC638;
}

.cta span:nth-child(2) {
    transition: 0.5s;
    margin-right: 0px;
}

.cta:hover  span:nth-child(2) {
    transition: 0.5s;
    margin-right: 45px;
}

  .span-watchnow {
    transform: skewX(15deg) 
  }

  .span-watchnow:nth-child(2) {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
  }
  
/**************SVG****************/

path.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

path.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta:hover path.three {
    animation: color_anim 1s infinite 0.2s;
}

.cta:hover path.one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta:hover path.two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */

@keyframes color_anim {
    0% {
        fill: white;
    }
    50% {
        fill: #FBC638;
    }
    100% {
        fill: white;
    }
}


/* system and tab */
@media only screen and (min-width: 600px) {
    
        .tvshow-img{
            width:470px;
            /* height: 100%; */
            top: 1rem;
            border-radius: 40px;
            box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
            background-color: black;
            position: relative;
            z-index: 10;
            overflow: hidden;
            margin-left: 5rem;
            vertical-align: middle;
        }

        .tvshow-img img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            overflow: hidden;
            transition: all 1.5s ease-in-out;
        } 

        .tvshow-img img:hover{
            transform: scale(1.35) rotateZ(5deg);
        }



        .overlay {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: rgba(0, 0, 0, 0.7);
        }

        /* Banner Section Start */

    .header {
        min-height: 780px;
        width: 100%;
        top:-10px;
        position: relative;
    }

    .bg{
        min-height: 780px;
        width: 100%;
        background-position: center;
        background-size: cover;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat;
        transition:0.5s;

        -webkit-animation: fade 8s infinite;
        -moz-animation: fade 8s infinite;
        -o-animation: fade 8s infinite;
        animation: fade 8s infinite;
    }
        @-webkit-keyframes fade {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 2;
            }
            100% {
              opacity: 0;
            }
          }
          @-moz-keyframes fade {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 2;
            }
            100% {
              opacity: 0;
            }
          }
          @-o-keyframes fade {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 2;
            }
            100% {
              opacity: 0;
            }
          }
          @keyframes fade {
            0% {
              opacity: 0;
            }
            50% {
              opacity: 2;
            }
            100% {
              opacity: 0;
            }
          }

          .header-content{
              width: 100%;
              max-height: 105vh;
              display: flex;
              /* justify-content: space-around; */
          }
          .left-img{
              width: 60%;
              float: left;
          }
          .left-img .tvshow-img{
              margin-left: 50px;
          }
          .right-content{
              width: 35%;
              display: flex;
              justify-content: center;
              align-items: center;
              float: right;
              position: relative;
           }
        .tvshow-detail {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 10px;
        }

        .tvshow-info {
            display: flex;
            align-items: center;
            font-size: 1rem;
            font-weight: 600;
        }

        .tvshow-info span {
            margin-left: 5px;
        }

        .tvshow-info i {
            color: rgb(85, 82, 82);
            background-color: red;
            font-size: 1rem;
        }

        .item-overview{
            font-size: 1rem;
            margin-top: 5px;
            line-height: 1.5rem;
            color: #fff;
        }

        .item-title{
            color:orange;
            font-size: 50px;
            line-height: 3rem;
            font-weight: 200;
            text-transform: uppercase;
        }
        .item-action {
            margin-top: 5px;
        }

        .tvshow-poster-img{
            display: none;
        }
        .tr-overview{
            display: none;
        }
        .tr-release-date{
            display: none;
        }
        .wrapper-watchnow {
            display: flex;
            margin-top: 20px;
            /* justify-content: center; */
          }
       .watchnow-btn{
           display: none;
       }
       
}

@media only screen and (max-width: 1400px) {
    .lg-carousel{
        display: none;
    }
    .sm-carousel{
        display: none;
    }
    .md-carousel{
        display: block;
    }
    .left-img{
        width: 50%;
        float: left;
    }
    .right-content{
        width: 50%;
    }

    .move-top .btn{
        border-radius: 100%;
        position: fixed;
        bottom: 560px;
        margin-left: 80%;
        z-index: 10;
    }
}



/* for mobile */
@media only screen and (max-width: 900px) {

    .lg-carousel{
        display: none;
    }
    .sm-carousel{
        display: block;
    }
    .md-carousel{
        display: none;
    }
    .header{
        display: none;
    }
    .tvshow-img{
        display: none;
    }
    .overlay{
        display: none;
    }
    .home-slide-item-content{
        display: none;
    }
    .tr-overview{
        display: contents;
    }
    .tr-release-date{
        display: block;
    }
    .watchnow-btn{
        display: block;
    }
    .wrapper-watchnow {
        display: flex;
        justify-content: center;
    }
    .tvshow-poster-img{
        display: block;
        width:400px;
        margin: 0.5rem;
        border-radius: 3px;
        box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
        background-color: var(--secondary-color);
        position: relative;
        overflow: hidden;
        justify-content: center;
    }
    
    .tvshow-poster-img img{
        width: 100%;
        height: 100%;
        /* height: 100%; */
        object-fit: cover;
        overflow: hidden;
        transition: all 1.5s ease-in-out;
    }
    
    .tvshow-poster-img img:hover{
        transform: scale(1.35) rotateZ(5deg);
    }
    
    .move-top .btn{
        border-radius: 100%;
        position: fixed;
        bottom: 560px;
        margin-left: 85%;
        z-index: 10;
    }
    

}



@media only screen and (max-width:600px) {
        
    #tvshow-logo{
        width: 70%;
        height: 100%;
     }
    .tvshow{
        width:500px;
        margin: 1rem;
        border-radius: 3px;
        box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
        background-color: var(--secondary-color);
        position: relative;
        overflow: hidden;
    }
    .tvshow-info h4{
        margin-top: 0;
        width: 80%;
        font-size: 30px;
    }
    .tvshow-rating{
        margin: 5px;
        width: auto;
    }
    .lg-carousel{
        display: none;
    }
    .sm-carousel{
        display: block;
    }
    .md-carousel{
        display: none;
    }
    
}

