<div class="topMovies-container">
  <h4 class="details-header">{{ title }}</h4>
  <ng-container *ngIf="trendingList.length > 0">
    <div class="row card-horizontal-scroll">
      <div
        class="carousel-cell video cursor-pointer"
        *ngFor="let trending of trendingList"
        style="cursor: pointer; margin-left: 20px"
      >
        <div
          class="img"
          [routerLink]="[
            trending.title ? '/moviedetails' : '/tvshowdetails',
            trending.id
          ]"
        >
          <div
            *ngIf="
              trending.backdrop_path == null;
              then thenBlock;
              else elseBlock
            "
          ></div>
          <ng-template #thenBlock
            ><img
              src="assets/images/no-image.png"
              alt="figure"
              class="no-image"
              style="height: 200px"
          /></ng-template>
          <ng-template #elseBlock>
            <img
              [attr.src]="highQualityImgUrl + trending.backdrop_path"
              alt="{{ trending.original_title }}"
              data-aos="zoom-in"
              style="height: 200px"
          /></ng-template>
          <div
            class="title position-relative text-white"
            style="margin-top: -30px; margin-left: 20px"
          >
            <div class="title-name" *ngIf="trending.name" data-aos="fade-left">
              {{ trending.name }}
            </div>
            <div
              class="title-name"
              *ngIf="trending.title"
              data-aos="fade-right"
            >
              {{ trending.title }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-container>
</div>
