<div class="upcoming-section">

    <nav class="navbar navbar-expand mt-4 navbar-light" aria-label="Second navbar example">
        <div class="container-fluid">
          <div class="collapse navbar-collapse" id="navbarsExample02">
            <ul class="navbar-nav me-auto">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle " style="color:#fff"href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  GENRE
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li *ngFor="let genre of genreList"><a class="dropdown-item link" (click)="getGenreContent(genre.id,genre.name)">{{genre.name}}</a></li>
                </ul>
            </li>
            </ul>
          </div>
        </div>
      </nav>
    


      <h1 class="text-center text-warning">Upcoming Movies</h1>
      <h2 class="text-center text-warning">{{genre_value}}</h2> 
    <main id="main">

        <div class="movie" *ngFor="let up of upcomingList" [routerLink]="['/moviedetails',up.id]">

            <div *ngIf="up.poster_path==null;then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
                <figure>
                    <img src="assets/images/no-image.png" alt="">
                </figure>
            </ng-template>
            <ng-template #elseBlock>
                <figure>
                    <img src="{{imgUrl+up.poster_path}}" alt="">
                </figure>
            </ng-template>

            <div class="movie-info">
                <h4>{{up.title}}</h4>
                <span [ngClass]="{'red':up.vote_average<=5,'orange':up.vote_average>=5&&up.vote_average<8,'green':up.vote_average>=8}">{{float2int((up.vote_average/10)*100) + '%'}}</span>
            </div>

            <div class="movie-info">
                <ngb-rating [max]="10" [(rate)]="up.vote_average" [readonly]="false"></ngb-rating>
            </div>
            <div class="date">
                <i class="fa-solid fa-calendar-days"></i>
                <p>{{up.release_date}}</p> 
            </div>
        </div>
    </main>

    <div class="pagination" id="pagination">
        <button class="btn" id="prev" [disabled]="isdisableprev" (click)="handlePagination(2)">Prev</button>
        <button class="btn"  id="home" (click)="handlePagination(1)" style="border-radius: 100%;">{{page_no}}</button>
        <button class="btn"  id="next" [disabled]="isdisablenext" (click)="handlePagination(3)">Next</button>
    </div>
    
      <div id="no-record" class="d-none">
        <h1 class="text-warning text-center">No Upcoming Movies Found</h1>
      </div>
</div>