<div class="main-content" style="margin-top: -10px">
  <ng-container *ngIf="topMoviesList">
    <carousel
      class="text-center"
      cellWidth="100%"
      [transitionDuration]="800"
      transitionTimingFunction="ease-in-out"
      [height]="900"
      [arrows]="false"
      [autoplay]="false"
      [autoplayInterval]="5000"
      [pauseOnHover]="false"
      [loop]="true"
    >
      <div
        class="carousel-cell video"
        *ngFor="let movieDetails of trendingList"
      >
        <section class="header">
          <app-video-header
            [data]="movieDetails"
            [isCarousel]="true"
          ></app-video-header>
        </section>
      </div>
    </carousel>
  </ng-container>
</div>

<app-trending-backdrops
  [title]="trendingMoviesTitle"
  [trendingList]="upcomingMovieList"
></app-trending-backdrops>

<app-trending-backdrops
  [title]="trendingTvshowsTitleInNetflix"
  [trendingList]="trendingInNetflix"
></app-trending-backdrops>

<app-trending-backdrops
  [title]="trendingTvshowsTitleInAmazon"
  [trendingList]="trendingInPrime"
></app-trending-backdrops>

<app-trending-backdrops 
  [title]="topGrossingMovies"
  [trendingList]="topGrossingMoviesList"
></app-trending-backdrops>