<div class="main-content" style="margin-top: -10px">
  <ng-container *ngIf="topMoviesList">
    <carousel
      class="text-center"
      cellWidth="100%"
      [transitionDuration]="800"
      transitionTimingFunction="ease-in-out"
      [height]="900"
      [arrows]="false"
      [autoplay]="false"
      [autoplayInterval]="5000"
      [pauseOnHover]="false"
      [loop]="true"
    >
      <div
        class="carousel-cell video"
        *ngFor="let movieDetails of trendingList"
      >
        <section class="header">
          <app-video-header
            [data]="movieDetails"
            [isCarousel]="true"
          ></app-video-header>
        </section>
      </div>
    </carousel>
  </ng-container>
</div>

<app-trending-backdrops
  [title]="trendingMoviesTitle"
  [trendingList]="upcomingMovieList"
></app-trending-backdrops>

<app-trending-backdrops
  [title]="trendingTvshowsTitleInNetflix"
  [trendingList]="trendingInNetflix"
></app-trending-backdrops>

<app-trending-backdrops
  [title]="trendingTvshowsTitleInAmazon"
  [trendingList]="trendingInPrime"
></app-trending-backdrops>

<app-trending-backdrops 
  [title]="topGrossingMovies"
  [trendingList]="topGrossingMoviesList"
></app-trending-backdrops>
<!-- <div *ngIf="topGrossingMoviesList.length > 0">
  <h5 class="details-header">Top Grossing Movies</h5>
  <div class="kodfun-galeri">
    <div
      *ngFor="let topGross of topGrossingMoviesList"
      style="
      background-image: url('{{ highQualityImgUrl + topGross.backdrop_path }}');
    "
      [routerLink]="['/moviedetails', topGross.id]"
      class="cursor-pointer"
    >
      <div class="text-center text-white">
        <p class="title-name mt-2" *ngIf="topGross.title">
          {{ topGross.title }}
        </p>
      </div>
    </div>
  </div>
</div> -->
