<h4 class="movie-heading mt-5">
  PUBLIC REVIEWS
</h4>
<div *ngIf="data.reviewList?.length <= 0; then noreviewBlock; else reviewBlock"></div>
<ng-template #reviewBlock>
  <section class="review-section">
    <div class="review-container mt-4" *ngFor="let rev of data.reviewList; let i = index">
      <div class="review-card">
        <div class="d-flex align-items-start">
          <div class="author-image">
            <span *ngIf="rev.author_details.avatar_path">
              <img [src]="rev.author_details.avatar_path" alt="" class="avatar">
            </span>
            <span *ngIf="!rev.author_details.avatar_path">
              <div class="circle" [style.backgroundColor]="bgColor">
                {{ rev?.author[0] }}
              </div>
            </span>
          </div>
          <div class="review-details ml-3">
            <div class="review-header">
              <span class="review-author">A review by <span class="author-name">{{ rev.author }}</span></span>
              <span class="review-rating">
                <i class="fa-solid fa-star"></i> {{ rev.author_details.rating }}
              </span>
            </div>
            <p class="review-date">Written by {{ rev.author }} on {{ rev.created_at | date }}</p>
            <p class="review-content">{{ rev.content }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</ng-template>
<ng-template #noreviewBlock>
  <div id="no-record_images">
    <h5 class="text-warning text-center">
      Reviews Not available For {{ data.original_title }}
    </h5>
  </div>
</ng-template>
