.dropdown-menu {
    max-height: 400px;
    max-width: 200px;
    overflow: scroll;
    background-color: #ae0f0fae;
  }
  .dropdown-item {
    /* background-color: var(--primary-color); */
    color: var(--base-white);
  }
  .dropdown-item:hover {
    background-color: #a4a2a25d;
  }
  .dropdown-menu::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }