@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
@import url("./typography.css");
@import url("./color.css");
@import url("./search-bar.css");
@import url("./pagination-btn.css");
@import url("./dropdown-menu.css");
*{
    box-sizing: border-box;
}
:root{
    --primary-color:#22254b;
    --secondary-color:#373b69;
}
body{
    background-color: var(--primary-color);
    font-family: 'Poppins',sans-serif;
    margin: 0;
}

/* card alignment  */
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header{
    padding: 1rem;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
}

.movie{
    width:300px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img{
    width:100%;
}

.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 00.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem;
    border-radius: 3px;
    font-weight: bold;
}
 
.overview{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform: translateY(101%);
    transition: transform 0.3s ease-in;
}

.movie:hover .overview{
    transform: translateY(0);
}
.green {
    color: var(--base-green);
  }
  .orange {
    color: var(--base-orange);
  }
  .red {
    color: var(--dark-red);
  }
  

  .link {
    cursor: pointer;
  }

/* Trending now, sort_by */
  .filtered-value {
    color: red;
    font-family: Monoton;
    text-transform: uppercase;
  }