<!-- <nav
  class="navbar navbar-expand navbar-dark shadow-5-strong mb-2"
  aria-label="Second navbar example"
>
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <a class="play playBut" href="">
        <div style="display: inline; width: 50px">
          <img
            src="../../../assets/images/logo.gif"
            alt=""
            class="playBut"
            style="margin-top: -16px"
          />
        </div>
        FLIX
      </a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" routerLink="/movies" routerLinkActive="active"
              >MOVIES</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tvshows" routerLinkActive="active"
              >TVSHOWS</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/collections"
              routerLinkActive="active"
              >COLLECTIONS</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/peoples" routerLinkActive="active"
              >PEOPLES</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav> -->

<nav
  class="navigation navbar navbar-expand navbar-dark shadow-5-strong"
  [attr.style]="lapdevice ? 'margin-top: -40px' : ''"
>
  <!--menu-btn--------------->
  <ng-container *ngIf="mobiledevice">
    <input type="checkbox" class="menu-btn" id="menu-btn" />
    <label for="menu-btn" class="menu-icon">
      <span class="nav-icon"></span> </label
  ></ng-container>

  <!--logo------------------->
  <a href="index.html" class="logo"> FLIX<span>HD</span> </a>
  <!--menu------------------->
  <ul class="menu">
    <li><a href="">Home</a></li>
    <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
    <li><a routerLink="/tvshows" routerLinkActive="active">TV Shows</a></li>
    <li>
      <a routerLink="/collections" routerLinkActive="active">Collections</a>
    </li>
    <li><a routerLink="/peoples" routerLinkActive="active">Peoples</a></li>
    <li><a routerLink="/mylist" routerLinkActive="active">MyList</a></li>
  </ul>
  <div class="container-fluid show-right-nav">
    <div class="collapse navbar-collapse" id="navbarsExample02">
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/movies" routerLinkActive="active"
              >MOVIES</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/tvshows" routerLinkActive="active"
              >TVSHOWS</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              routerLink="/collections"
              routerLinkActive="active"
              >COLLECTIONS</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/peoples" routerLinkActive="active"
              >PEOPLES</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/mylist" routerLinkActive="active"
              >MY LIST</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div id="progress" style="cursor: pointer">
  <span id="progress-value" (click)="scrollToTop()" style="color: red">
    <i class="fa-solid fa-arrow-up"></i>
  </span>
</div>
<div class="main-content">
  <router-outlet (activate)="onActivate($event)"></router-outlet>
</div>
<!--==footer==============================-->
<footer style="margin-top: 30px">
  <!--footer-logo--->
  <a href="index.html" class="logo"> FLIX<span>hd</span> </a>
  <!--copyright----->
  <span class="copyright">
    Copyright 2021 - Done By Ganapathy Subramanian ❤️
  </span>
</footer>
