nav{
    padding: 1rem;
    position: absolute;
    z-index:999999;
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    background-color: transparent;
    transition: background-color 2s;
    color:var(--base-white);
    top: 0px;
    width: 100%;
}
 
.logo{
    color: var(--dark-red);
}
.nav-link{
    cursor: pointer;
}
.nav-link:hover{
    color: var(--dark-red);
}

nav a{
    float: left;
}
.navbar-nav {
    margin-left: auto;
}
.main-content{
    margin-top: 10px;
}

/* .navbar-lg{
    display: block;
}
.navbar-sm{
    display: none;
} */
.copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#aaa;
    margin-bottom:0;
}


 .footer .container-fluid{
    display: flex;
    color: #fff;
}

.move-top .btn{
    border-radius: 100%;
    bottom: 560px;
}

.btn {
    color: var(--base-white);
}
.btn:hover{
    background-color: var(--dark-red);
    transition: background-color 2s;
    color: var(--base-white);
} 
.nav-link:hover{
    color: red;
    border-bottom: red;
}
.navbar-dark .navbar-nav .nav-link.active{
    color: #fff;
    border-bottom: 1px solid red;
}
@media only screen and (max-width:600px) {
    .footer .container-fluid{
       width: 100%;
       color: var(--base-white);
       margin-left:0%;
   }
   /* .navbar-lg{
    display: none;
}
.navbar-sm{
    display: block;
} */
}





