nav{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    color:#eee;
}
 
.logo{
    color: red;
}
.nav-link{
    cursor: pointer;
}
.nav-link:hover{
    color: red;
}

nav a{
    float: left;
}
.navbar-nav {
    margin-left: auto;
}
.main-content{
    margin-top: 10px;
}


  
.copyright {
margin-top:15px;
text-align:center;
font-size:13px;
color:#aaa;
margin-bottom:0;
}


 .footer .container-fluid{
    display: flex;
    margin-left: 5%;
    color: #fff;
}

.move-top .btn{
    border-radius: 100%;
    bottom: 560px;
    /* margin-left: 85%; */
}

 .btn {
    color: #ffffff;
}
.btn:hover{
    background-color: red;
    color: white;
} 
@media only screen and (max-width:600px) {
    .footer .container-fluid{
       width: 100%;
       color: #fff;
       margin-left:0%;

   }
}
