<h4 class="movie-heading mt-5"> POSTERS</h4>
<div *ngIf="data.posterList?.length <= 0; then noposters; else posters"></div>
<ng-template #posters>
  <div class="row">
    <div
      class="col-lg-2 col-md-3 col-sm-4 col-6 mt-4 poster-item"
      *ngFor="let post of data.posterList"
    >
      <span
        class="pe-auto"
        (click)="openModal(post)"
        style="cursor: pointer"
      >
        <img src="{{ imgUrl + post.file_path }}" width="100%" height="100%" />
      </span>
    </div>
  </div>
</ng-template>

<ng-template #noposters>
  <div id="no-record_poster">
    <h5 class="text-warning text-center">
      Posters not available for {{ data.original_title }}
    </h5>
  </div>
</ng-template>

<ng-container *ngIf="openPopUp">
  <app-pop-up-modal
    [openModal]="openPopUp"
    [data]="selectedImage"
    [isImage]="true"
    [isVideo]="false"
    (resetData)="resetData($event)"
  ></app-pop-up-modal>
</ng-container>
