<div class="section full-height app-pop-up-modal" *ngIf="openModal">
  <input class="modal-btn" type="checkbox" id="modal-btn" name="modal-btn" />
  <label
    (click)="closeModal()"
    style="cursor: pointer; z-index: 10000000000000000; color: #fff"
  >
  </label>
  <div class="modal">
    <div class="modal-wrap" *ngIf="isImage">
      <img
        [src]="highQualityImgUrl + data.file_path"
        alt=""
        data-aos="zoom-in"
      />
    </div>
    <div class="modal-wrap" *ngIf="isVideo" style="height: 700px">
      <iframe
        height="100%"
        width="100%"
        id="stop-video"
        class="youtube-video"
        [src]="data.key"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</div>
