<h4 class="movie-heading mt-5">{{ data.original_title }} VIDEOS</h4>
<div *ngIf="data.videoList?.length <= 0; then novideo; else video"></div>
<ng-template #video>
  <!-- <div class="lg-carousel">
    <carousel
      class="text-center"
      [cellWidth]="1400"
      [height]="640"
      [margin]="20"
      arrowsTheme="dark"
    >
      <div class="carousel-cell video" *ngFor="let video of data.videoList">
        <iframe
          height="100%"
          width="100%"
          id="stop-video"
          class="youtube-video"
          [src]="video.key"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </carousel>
  </div>

  <div class="md-carousel">
    <carousel
      class="text-center"
      [cellWidth]="1220"
      [height]="640"
      [margin]="20"
      arrowsTheme="dark"
    >
      <div class="carousel-cell video" *ngFor="let video of data.videoList">
        <iframe
          height="100%"
          width="100%"
          id="stop-video"
          class="youtube-video"
          [src]="video.key"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </carousel>
  </div>

  <div class="sm-carousel">
    <carousel
      class="text-center"
      [cellWidth]="400"
      [height]="300"
      [margin]="50"
      arrowsTheme="dark"
    >
      <div class="carousel-cell video" *ngFor="let video of data.videoList">
        <iframe
          height="100%"
          width="100%"
          id="stop-video"
          class="youtube-video"
          [src]="video.key"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </carousel>
  </div> -->

  <div class="row" style="justify-content: center">
    <div
      class="col-lg-3 col-sm-12 col-md-12 mt-1"
      *ngFor="let video of data.videoList"
    >
      <div class="container" (click)="openModal(video)" style="cursor: pointer">
        <img
          [src]="video.videoThumbnail"
          width="100%"
          height="100%"
          data-aos="fade-down"
        />
      </div>
      <div
        class="play_zin1m"
        style="
          position: absolute;
          margin-top: -143px;
          margin-left: 140px;
          cursor: pointer;
        "
        (click)="openModal(video)"
        data-aos="fade-down"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="48"
          height="48"
          viewBox="0 0 55 55"
        >
          <circle
            cx="27.5"
            cy="27.5"
            r="26.75"
            fill="none"
            stroke="#fff"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
          ></circle>
          <path
            fill="none"
            stroke="#fff"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="1.5"
            d="M20.97 40.81L40.64 27.5 20.97 14.19v26.62z"
          ></path>
        </svg>
      </div>
    </div>
  </div>
</ng-template>
<ng-template #novideo>
  <div id="no-record_images">
    <h5 class="text-warning text-center">
      Videos not available for {{ data.original_title }}
    </h5>
  </div>
</ng-template>

<ng-container *ngIf="openPopUp">
  <app-pop-up-modal
    [openModal]="openPopUp"
    [data]="selectedImage"
    [isImage]="false"
    [isVideo]="true"
    (resetData)="resetData($event)"
  ></app-pop-up-modal>
</ng-container>
