<h4 class="movie-heading mt-5">{{ data.original_title }} VIDEOS</h4>
<div *ngIf="data.videoList?.length <= 0; then novideo; else video"></div>
<ng-template #video>
  <div class="lg-carousel">
    <carousel
      class="text-center"
      [cellWidth]="1470"
      [height]="640"
      [margin]="20"
      arrowsTheme="dark"
    >
      <div class="carousel-cell video" *ngFor="let video of data.videoList">
        <iframe
          height="100%"
          width="100%"
          id="stop-video"
          class="youtube-video"
          [src]="video.key"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          donotallowfullscreen
        ></iframe>
      </div>
    </carousel>
  </div>

  <div class="md-carousel">
    <carousel
      class="text-center"
      [cellWidth]="1220"
      [height]="640"
      [margin]="20"
      arrowsTheme="dark"
    >
      <div class="carousel-cell video" *ngFor="let video of data.videoList">
        <iframe
          height="100%"
          width="100%"
          id="stop-video"
          class="youtube-video"
          [src]="video.key"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          donotallowfullscreen
        ></iframe>
      </div>
    </carousel>
  </div>

  <div class="sm-carousel">
    <carousel
      class="text-center"
      [cellWidth]="400"
      [height]="300"
      [margin]="50"
      arrowsTheme="dark"
    >
      <div class="carousel-cell video" *ngFor="let video of data.videoList">
        <iframe
          height="100%"
          width="100%"
          id="stop-video"
          class="youtube-video"
          [src]="video.key"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </carousel>
  </div>
</ng-template>
<ng-template #novideo>
  <div id="no-record_images">
    <h5 class="text-warning text-center">
      Videos not available for {{ data.original_title }}
    </h5>
  </div>
</ng-template>
