.lg-carousel {
  display: block;
}
.sm-carousel {
  display: none;
}
.md-carousel {
  display: none;
}

.movie-heading {
  display: block;
  text-transform: uppercase;
  color: var(--dark-red);
  text-align: center;
  font-family: Monoton;
}
h5 {
  font-family: Monoton;
}

/* system and tab */
@media only screen and (min-width: 600px) {
  .youtube-video {
    height: 100%;
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .lg-carousel {
    display: none;
  }
  .sm-carousel {
    display: block;
  }
  .md-carousel {
    display: none;
  }
}
