
<div class="movies-section">
  
  
  <nav class="navbar navbar-expand mt-4 navbar-light" aria-label="Second navbar example">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarsExample02">
        <ul class="navbar-nav me-auto" [ngStyle]="{'visibility': ishidedrop ? 'hidden' : 'visible'}">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" style="color:#fff"href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              GENRE
            </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li ><a class="dropdown-item link text-danger" (click)="getGenreContent('','')">CLEAR GENRE</a></li>
                  <li *ngFor="let genre of genreList"><a class="dropdown-item link" (click)="getGenreContent(genre.id,genre.name)">{{genre.name}}</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" style="color:#fff"href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    FILTER
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li ><a class="dropdown-item link text-danger" (click)="getOrderContent('','')">CLEAR FILTER</a></li>
                  <li *ngFor="let order of orderList"><a class="dropdown-item link" (click)="getOrderContent(order.order,order.desc)">{{order.desc}}</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" style="color:#fff"href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                COUNTRY
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li ><a class="dropdown-item link text-danger" (click)="getCountryContent('','')">CLEAR COUNTRY</a></li>
              <li *ngFor="let country of countryList"><a class="dropdown-item link" (click)="getCountryContent(country.iso_3166_1,country.english_name)">{{country.english_name}}</a></li>
            </ul>
        </li>
            </ul>
            <div class="lg-search">
              <form id="form" [formGroup]="searchForm" (ngSubmit)="getSearchContent()" > 
                <input type="text" placeholder="Search Movie" formControlName="movieName"  class="search form-control" (keyup)="findMovies()" [(ngModel)]="findthismovie">
              </form>
              <div class = "search-list" id = "search-list-lg">
                  <!-- list here -->
                  <div class = "search-list-item" *ngFor="let s of searchList" [routerLink]="['/moviedetails',s.id]">
                      <div class = "search-item-thumbnail">
                        <p *ngIf="s.poster_path==null;then thenBlock else elseBlock"></p>

                        <ng-template #thenBlock>
                            
                                <img src="assets/images/no-image.png">
                            
                        </ng-template>
                        <ng-template #elseBlock>
                            
                                <img src="{{imgUrl+s.poster_path}}">
                            
                        </ng-template>
                      </div>
                      <div class = "search-item-info">
                          <h3>{{s.title}}          
                          </h3>
                          <!-- <p><span class="search-date"> {{s.release_date | date}}</span> <span class="movie-rating ml-2" [ngClass]="{'red':s.vote_average<=5,'orange':s.vote_average>5&&s.vote_average<8,'green':s.vote_average>=8}">{{float2int(((s.vote_average/10)*100)) + '%'}}</span></p> -->
                          <p><span class="search-date"> {{s.release_date | date}}</span></p>
                        </div>
                  </div>
              </div>
            </div>
                 
           </div>
        </div>
      </nav>

     


      <div class="sm-search">
         
        <form id="form" [formGroup]="searchForm" (ngSubmit)="getSearchContent()" > 
          <input type="text" placeholder="Search Movie" formControlName="movieName"  class="search form-control" (keyup)="findMovies()" [(ngModel)]="findthismovie">
        </form>
        <div class = "search-list" id = "search-list-sm">
            <!-- list here -->
            
            <div class = "search-list-item" *ngFor="let s of searchList" [routerLink]="['/moviedetails',s.id]">
                <div class = "search-item-thumbnail">
                  <p *ngIf="s.poster_path==null;then thenBlock else elseBlock"></p>

                  <ng-template #thenBlock>
                      
                          <img src="assets/images/no-image.png">
                      
                  </ng-template>
                  <ng-template #elseBlock>
                      
                          <img src="{{imgUrl+s.poster_path}}">
                      
                  </ng-template>
                </div>
                <div class = "search-item-info">
                    <h3>{{s.title}}</h3>
                    <!-- <p><span class="search-date"> {{s.release_date | date}}</span> <span class="movie-rating ml-2" [ngClass]="{'red':s.vote_average<=5,'orange':s.vote_average>5&&s.vote_average<8,'green':s.vote_average>=8}">{{float2int(((s.vote_average/10)*100)) + '%'}}</span></p> -->
                    <p><span class="search-date"> {{s.release_date | date}}</span></p>

                </div>
            </div>
        </div>
      </div>
      

 <span *ngIf="mobiledevice">
         <app-dark-toggle [cmp]="component"></app-dark-toggle>
      </span> 
    
    <h1 class="text-center text-warning">{{sortby_value | uppercase}}</h1>
    <h1 class="text-center text-warning h3">{{genre_value | uppercase}}</h1>
    <h1 class="text-center text-warning h3" *ngIf="country_value!=''"><span class="text-warning"> {{"IN "}}</span><br />{{country_value | uppercase}}</h1>

    <main id="main">
        <div class="movie" id="movie" *ngFor="let movie of movieList" [routerLink]="['/moviedetails',movie.id]">
            <app-card [data]="movie"></app-card>
        </div>
    </main>

    <div class="pagination" *ngIf="movieList.length>0">
        <button class="btn" id="prev" [disabled]="isdisableprev" (click)="handlePagination(2)">Prev</button>
        <button class="btn"  id="home" (click)="handlePagination(1)" style="border-radius: 100%;">{{page_no}}</button>
        <button class="btn"  id="next" [disabled]="isdisablenext" (click)="handlePagination(3)">Next</button>
    </div>
    
    <div *ngIf="movieList.length<=0">
        <h1 class="text-warning text-center">No Movies Found</h1>
    </div>
    
    
</div>