
main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie{
    width:250px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position: relative;
    overflow: hidden;
}

.movie img{
    width:100%; 
}


.movie-info{
    color: #eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 00.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}
.no-image{
    object-fit: cover;
    height: 376px;
}
.movie-info h4{
    margin-top: 0;
    width: 80%;
    font-size: 20px;
}
.movie-rating{
    margin: 5px;
    width: 20%;
}

.movie-info span{
    background-color: var(--primary-color);
    padding: 0.25rem;
    border-radius: 3px;
    font-weight: bold;
}

.movie:hover{
    cursor: pointer;
}

figure {
    margin: 0;
    padding: 0;
    background: #fff;
    overflow: hidden;
}

 /* Shine */
 .movie figure {
    position: relative;
}
.movie figure::before {
    position: absolute;
    top: 0;
    left: -85%;
    z-index: 2;
    display: block;
    content: '';
    width: 50%;
    height: 100%;
    background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    background: linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,.3) 100%);
    -webkit-transform: skewX(-25deg);
    transform: skewX(-25deg);
}
.movie figure:hover::before {
    -webkit-animation: shine 1.5s;
    animation: shine 1.5s;
}
@-webkit-keyframes shine {
    100% {
        left: 125%;
    }
}
@keyframes shine {
    100% {
        left: 125%;
    }
}

.green{
    color: lightgreen;
}
.orange{
    color: orange;
}
.red{
    color: red;
}

ngb-rating {
    color: #FFC107;
    font-size: 20px;

}

.date{
    color: #eee;
    display: flex;
    justify-content:start;
    margin: 5px;
    padding: 10px;
}


.btn {
    color: #ffffff;
    padding: 0.25rem 1.5rem;
    text-transform: uppercase;
    margin: 15px;
    background-color: red;
}

.btn:hover {
    background-color: orange;
    transition: 0.3s ease-in-out;
}
.pagination{
    justify-content: center;
    
}


.link{
    cursor: pointer;
}

.search{
    background-color: transparent;
    border:2px solid var(--secondary-color);
    padding: 0.5rem 1rem;
    width: calc(350px - 8px);
    border-radius: 50px;
    font-size: 1rem;
    color: #fff;
    font-family: inherit;
}

.search:focus{
    outline: none;
    background-color: var(--primary-color);
}
.search::placeholder{
    color: #7378c5;
}

.search-list{
    position: absolute;
    right: 0;
    top: 100%;
    max-height: 500px;
    overflow-y: scroll;
    z-index: 10;
}
.search-list .search-list-item{
    background-color: var(--secondary-color);
    padding: 0.5rem;
    border-bottom: 1px solid var(--dark-color);
    width: calc(350px - 8px);
    color: #fff;
    cursor: pointer;
    -webkit-transition: background-color 200ms ease;
    -o-transition: background-color 200ms ease;
    transition: background-color 200ms ease;
}
.search-list .search-list-item:Hover{
    background-color: #1f1f1f;
}
.search-list-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.search-item-thumbnail img{
    width: 40px;
    margin-right: 1rem;
}
.search-item-info h3{
    font-weight: 600;
    font-size: 1rem;
}
.search-item-info p{
    font-size: 0.8rem;
    margin-top: 0.5rem;
    font-weight: 600;
    opacity: 0.6;
}

/* thumbnail */
.search-list::-webkit-scrollbar{
    width: 8px;
}
.search-list::-webkit-scrollbar-track{
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.search-list::-webkit-scrollbar-thumb{
    background-color: var(--yellow-color);
    outline: none;
    border-radius: 10px;
}

/* js related class */
.hide-search-list{
    display: none;
}

@media only screen and (min-width: 600px) {
    .sm-search{
        display: none;
    }

}
@media only screen and (max-width: 600px) {
    .search-list{
        position: absolute;
        right: 0;
        margin-top: -950px;
        max-height: 500px;
        overflow-y: scroll;
        z-index: 10;
    }
    .search-element .form-control{
        width: 90%;
        margin: 0 auto;
        padding: 0.5rem 1rem;
    }
    .search-element h3{
        font-size: 1.4rem;
    }
    .search-list{
        width: 90%;
        right: 50%;
        -webkit-transform: translateX(50%);
            -ms-transform: translateX(50%);
                transform: translateX(50%);
    }
    .search-list .search-list-item{
        width: 100%;
    }
    .movie{
        width:500px;
        margin: 1rem;
        border-radius: 3px;
        box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
        background-color: var(--secondary-color);
        position: relative;
        overflow: hidden;
    }
    .movie-info h4{
        margin-top: 0;
        width: 80%;
        font-size: 30px;
    }
    .movie-rating{
        margin: 5px;
        width: auto;
    }
    .search{
        background-color: transparent;
        border:2px solid var(--secondary-color);
        padding: 0.5rem 1rem;
        border-radius: 50px;
        font-size: 1rem;
        color: #fff;
        font-family: inherit;
        height: 60px;
    }
    .sm-search{
        margin-left: 50px;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 20px;
        display: block;
    }
    .lg-search{
        display: none;
    }
    .navbar-nav{
        display: flex;
        justify-content: center;
        /* margin-left: 180px; */
    }   
    .navbar-nav{
        width: 100%;
        margin: auto;
      }
      /* Style the links inside the navigation bar */
      .search-element{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
    .search-element h3{
        margin-bottom: 0;
    }
  }

  /* .search-container{
    background-color: var(--md-dark-color);
    height: 180px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
} */
/* .search-element{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: relative;
}
.search-element h3{
    -ms-flex-item-align: center;
        align-self: center;
    margin-right: 1rem;
    font-size: 2rem;
    color: #fff;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.search-element .form-control{
    padding: 1rem 2rem;
    font-size: 1.4rem;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
    color: var(--light-dark-color);
    width: 350px;
} */

