<div #moviedetails class="person-details" style="margin-top: 80px">
  <main id="main">
    <div class="person-img">
      <div
        *ngIf="
          personDetails.profile_path == null;
          then thenBlock;
          else elseBlock
        "
      ></div>
      <!-- <ng-template #thenBlock><img src="../../assets/images/no-image.png"></ng-template> -->
      <ng-template #thenBlock
        ><img src="assets/images/no-image.png" class="no-image"
      /></ng-template>
      <ng-template #elseBlock
        ><img
          [attr.src]="highqualityImgUrl + personDetails.profile_path"
          alt="{{ personDetails.name }}"
      /></ng-template>
    </div>
  </main>

  <div class="person-content">
    <div class="detail-tabs" *ngIf="getAvailableTabs().length > 1">
      <button
        *ngFor="let tab of getAvailableTabs()"
        [class.active]="activeTab === tab.id"
        (click)="setActiveTab(tab.id)"
      >
        {{ tab.label }}
      </button>
    </div>

    <div class="about-panel" *ngIf="activeTab === 'about'">
      <div class="about-grid">
        <div class="about-item" *ngIf="personDetails.name">
          <span class="about-label">Name</span>
          <span class="about-value">{{ personDetails.name }}</span>
        </div>
        <div class="about-item" *ngIf="personDetails.birthday">
          <span class="about-label">Birth Date</span>
          <span class="about-value">{{ personDetails.birthday | date }}</span>
        </div>
        <div class="about-item" *ngIf="personDetails.deathday">
          <span class="about-label">Death Date</span>
          <span class="about-value">{{ personDetails.deathday | date }}</span>
        </div>
        <div class="about-item" *ngIf="personDetails.gender">
          <span class="about-label">Gender</span>
          <span class="about-value">{{ personDetails.gender }}</span>
        </div>
        <div class="about-item" *ngIf="personDetails.known_for_department">
          <span class="about-label">Profession</span>
          <span class="about-value">{{ personDetails.known_for_department }}</span>
        </div>
        <div class="about-item" *ngIf="personDetails.place_of_birth">
          <span class="about-label">Place of Birth</span>
          <span class="about-value">{{ personDetails.place_of_birth }}</span>
        </div>
      </div>

      <div class="bio-block" *ngIf="personDetails.biography">
        <h5 class="about-heading">Biography</h5>
        <p class="bio-text">{{ personDetails.biography }}</p>
      </div>

      <div class="social-block">
        <h5 class="about-heading">Social Media</h5>
        <div class="social-links">
          <a
            class="social-link"
            [href]="'https://www.facebook.com/' + (personDetails.facebook_id || personDetails.name)"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="assets/images/Facebook.png" width="40" height="40" />
          </a>
          <a
            class="social-link"
            [href]="'https://www.instagram.com/' + (personDetails.instagram_id || personDetails.name)"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="assets/images/Instagram.png" width="40" height="40" />
          </a>
          <a
            class="social-link"
            [href]="'https://www.twitter.com/' + (personDetails.twitter_id || personDetails.name)"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="assets/images/Twitter.png" width="40" height="40" />
          </a>
          <a
            class="social-link"
            [href]="'https://www.imdb.com/name/' + (personDetails.imdb_id || personDetails.name)"
            target="_blank"
            rel="noopener noreferrer"
          >
            <img src="assets/images/Imdb.png" width="40" height="40" />
          </a>
        </div>
      </div>
    </div>
    <div *ngIf="activeTab === 'acted-movies'">
      <h5 class="text-center" style="color: red">Movies Acted</h5>

      <div
        *ngIf="castMovieList.length <= 0; then nocastmovie; else castmoviedata"
      ></div>
      <ng-template #castmoviedata>
    <h5 class="h5 text-center text-white" >Click the movies to know more</h5>
    <main id="main">

        <div
          class="person"
          *ngFor="let temp of castMovieList.slice().reverse() let i = index;"
          [routerLink]="['/moviedetails', temp.id]"
        >
          <app-card [data]="temp"></app-card>
        </div>
        </main>
      </ng-template>
      <ng-template #nocastmovie>
        <div id="no-record_found_cast_movie">
          <h5 class="text-warning text-center">
            {{ personDetails.name }} is not Acted in any Movies
          </h5>
        </div>
      </ng-template>
    </div>

    <div *ngIf="activeTab === 'acted-tv'">
      <h5 class="text-center" style="color: red">Tvshows Acted</h5>

      <div *ngIf="castTvList.length <= 0; then nocasttv; else casttvdata"></div>
      <ng-template #casttvdata>
    <h5 class="h5 text-center text-white"  > Click the tvshows to know more</h5>
    <main id="main">

        <div
          class="person"
          *ngFor="let temp1 of castTvList.slice().reverse() let i = index;"
          [routerLink]="['/tvshowdetails', temp1.id]"
        >
          <app-card [data]="temp1"></app-card>
        </div>
    </main>

      </ng-template>
      <ng-template #nocasttv>
        <div id="no-record_found_cast_tv">
          <h5 class="text-warning text-center">
            {{ personDetails.name }} is not Acted in any tvshows
          </h5>
        </div>
      </ng-template>
    </div>

    <div *ngIf="activeTab === 'crew-movies'">
      <h4 class="text-center" style="color: red">As Crew in Movies</h4>

      <div
      *ngIf="crewMovieList.length <= 0; then nocrewmovie; else crewmoviedata"
    ></div>

    
      <ng-template #crewmoviedata>
        <h5 class="h5 text-center text-white" >Click the movies to know more</h5>
        <main id="main">

        <div
          class="person crew-tvshow"
          *ngFor="let crew_data of crewMovieList.slice().reverse() let i = index;"
          [routerLink]="['/moviedetails', crew_data.id]"
        >
          <app-card [data]="crew_data"></app-card>
        </div>
    </main>

      </ng-template>
      <ng-template #nocrewmovie>
        <div id="no-record_found_crew_movie">
          <h5 class="text-warning text-center">
            {{ personDetails.name }} is not as a crew member in any Movies
          </h5>
        </div>
      </ng-template>
    </div>

    <div *ngIf="activeTab === 'crew-tv'">
      <h5 class="text-center" style="color: red">As Crew in Tvshows</h5>
      <div *ngIf="crewTvList.length <= 0; then nocrewtv; else crewtvdata"></div>

      <ng-template #crewtvdata>
    <p class="h5 text-center text-white"  >Click the tvshows to know more</p>
        <main id="main">
            <div
              class="person crew-tvshow"
              *ngFor="let crew_data of crewTvList.slice().reverse() let i = index;"
              [routerLink]="['/tvshowdetails', crew_data.id]"
            >
              <app-card [data]="crew_data"></app-card>
            </div>
        </main>

      </ng-template>
      <ng-template #nocrewtv>
        <div id="no-record_found_crew_tv">
          <h5 class="text-warning text-center">
            {{ personDetails.name }} is not as a crew member in any tvshows
          </h5>
        </div>
      </ng-template>
    </div>
  </div>
</div>
