<div #moviedetails class="person-details" style="margin-top: 80px">
  <main id="main">
    <div class="person-img">
      <div
        *ngIf="
          personDetails.profile_path == null;
          then thenBlock;
          else elseBlock
        "
      ></div>
      <!-- <ng-template #thenBlock><img src="../../assets/images/no-image.png"></ng-template> -->
      <ng-template #thenBlock
        ><img src="assets/images/no-image.png" class="no-image"
      /></ng-template>
      <ng-template #elseBlock
        ><img
          [attr.src]="highqualityImgUrl + personDetails.profile_path"
          alt="{{ personDetails.name }}"
      /></ng-template>
    </div>
  </main>

  <div class="person-content">
    <table class="details-table">
      <tbody>
        <tr>
          <td class="details-name">PersonName</td>
          <td class="colon">:</td>
          <td class="details-value">{{ personDetails.name }}</td>
        </tr>
        <tr *ngIf="personDetails.birthday">
          <td class="details-name" >BirthDate</td>
          <td class="colon">:</td>
          <td class="details-value">{{ personDetails.birthday | date }}</td>
        </tr>
        <tr *ngIf="personDetails.deathday">
          <td class="details-name">DeathDate</td>
          <td class="colon">:</td>
          <td class="details-value" >
            {{ personDetails.deathday | date}}
          </td>
        </tr>
        <tr *ngIf="personDetails.gender">
          <td class="details-name">Gender</td>
          <td class="colon">:</td>
          <td class="details-value">{{ personDetails.gender }}</td>
        </tr>
        <tr *ngIf="personDetails.known_for_department">
          <td class="details-name">Profession</td>
          <td class="colon">:</td>
          <td class="details-value">
            {{ personDetails.known_for_department }}
          </td>
        </tr>
        <tr *ngIf="personDetails.place_of_birth">
          <td class="details-name">PlaceOfBirth</td>
          <td class="colon">:</td>
          <td class="details-value">{{ personDetails.place_of_birth }}</td>
        </tr>
        <tr *ngIf="personDetails.biography">
          <td class="details-name">Biography</td>
          <td class="colon">:</td>
          <td class="details-value movie-description">
            {{ personDetails.biography }}
          </td>
        </tr>
        <tr>
          <td class="details-name">SocialMedia</td>
          <td class="colon">:</td>
          <td class="details-value">
            <div
              *ngIf="
                personDetails.facebook_id == null ||
                  personDetails.facebook_id == '';
                then noface;
                else face
              "
            ></div>
            <ng-template #face>
              <a
                class="p-2"
                href="https://www.facebook.com/{{ personDetails.facebook_id }}"
                ><img
                  src="assets/images/Facebook.png"
                  width="40px"
                  height="40px"
              /></a>
            </ng-template>
            <ng-template #noface>
              <a
                class="p-2"
                href="https://www.facebook.com/{{ personDetails.name }}"
                ><img
                  src="assets/images/Facebook.png"
                  width="40px"
                  height="40px"
              /></a>
            </ng-template>

            <div
              *ngIf="
                personDetails.instagram_id == null ||
                  personDetails.instagram_id == '';
                then noinsta;
                else insta
              "
            ></div>
            <ng-template #insta>
              <a
                class="p-2"
                href="https://www.instagram.com/{{
                  personDetails.instagram_id
                }}"
                ><img
                  src="assets/images/Instagram.png"
                  width="40px"
                  height="40px"
              /></a>
            </ng-template>
            <ng-template #noinsta>
              <a
                class="p-2"
                href="https://www.instagram.com/{{ personDetails.name }}"
                ><img
                  src="assets/images/Instagram.png"
                  width="40px"
                  height="40px"
              /></a>
            </ng-template>

            <div
              *ngIf="
                personDetails.twitter_id == null ||
                  personDetails.twitter_id == '';
                then notwit;
                else twit
              "
            ></div>
            <ng-template #twit>
              <a
                class="p-2"
                href="https://www.twitter.com/{{ personDetails.twitter_id }}"
                ><img
                  src="assets/images/Twitter.png"
                  width="40px"
                  height="40px"
              /></a>
            </ng-template>
            <ng-template #notwit>
              <a
                class="p-2"
                href="https://www.twitter.com/{{ personDetails.name }}"
                ><img
                  src="assets/images/Twitter.png"
                  width="40px"
                  height="40px"
              /></a>
            </ng-template>

            <div
              *ngIf="
                personDetails.imdb_id == null || personDetails.imdb_id == '';
                then noimdb;
                else imdb
              "
            ></div>
            <ng-template #imdb>
              <a
                class="p-2"
                href="https://www.imdb.com/name/{{ personDetails.imdb_id }}"
                ><img src="assets/images/Imdb.png" width="40px" height="40px"
              /></a>
            </ng-template>
            <ng-template #noimdb>
              <a
                class="p-2"
                href="https://www.imdb.com/name/{{ personDetails.name }}"
                ><img src="assets/images/Imdb.png" width="40px" height="40px"
              /></a>
            </ng-template>
          </td>
        </tr>
      </tbody>
    </table>
    <hr />
    <h5 class="text-center" style="color: red">Movies Acted</h5>

      <div
        *ngIf="castMovieList.length <= 0; then nocastmovie; else castmoviedata"
      ></div>
      <ng-template #castmoviedata>
    <h5 class="h5 text-center text-white" >Click the movies to know more</h5>
    <main id="main">

        <div
          class="person"
          *ngFor="let temp of castMovieList.slice().reverse() let i = index;"
          [routerLink]="['/moviedetails', temp.id]"
        >
          <app-card [data]="temp"></app-card>
        </div>
        </main>
      </ng-template>
      <ng-template #nocastmovie>
        <div id="no-record_found_cast_movie">
          <h5 class="text-warning text-center">
            {{ personDetails.name }} is not Acted in any Movies
          </h5>
        </div>
      </ng-template>
    <hr />

    <h5 class="text-center" style="color: red">Tvshows Acted</h5>

      <div *ngIf="castTvList.length <= 0; then nocasttv; else casttvdata"></div>
      <ng-template #casttvdata>
    <h5 class="h5 text-center text-white"  > Click the tvshows to know more</h5>
    <main id="main">

        <div
          class="person"
          *ngFor="let temp1 of castTvList.slice().reverse() let i = index;"
          [routerLink]="['/tvshowdetails', temp1.id]"
        >
          <app-card [data]="temp1"></app-card>
        </div>
    </main>

      </ng-template>
      <ng-template #nocasttv>
        <div id="no-record_found_cast_tv">
          <h5 class="text-warning text-center">
            {{ personDetails.name }} is not Acted in any tvshows
          </h5>
        </div>
      </ng-template>
    <hr />

    <h4 class="text-center" style="color: red">As Crew in Movies</h4>

    <div
    *ngIf="crewMovieList.length <= 0; then nocrewmovie; else crewmoviedata"
  ></div>

    
      <ng-template #crewmoviedata>
        <h5 class="h5 text-center text-white" >Click the movies to know more</h5>
        <main id="main">

        <div
          class="person crew-tvshow"
          *ngFor="let crew_data of crewMovieList.slice().reverse() let i = index;"
          [routerLink]="['/moviedetails', crew_data.id]"
        >
          <app-card [data]="crew_data"></app-card>
        </div>
    </main>

      </ng-template>
      <ng-template #nocrewmovie>
        <div id="no-record_found_crew_movie">
          <h5 class="text-warning text-center">
            {{ personDetails.name }} is not as a crew member in any Movies
          </h5>
        </div>
      </ng-template>
    <hr />

    <h5 class="text-center" style="color: red">As Crew in Tvshows</h5>
    <div *ngIf="crewTvList.length <= 0; then nocrewtv; else crewtvdata"></div>

      <ng-template #crewtvdata>
    <p class="h5 text-center text-white"  >Click the tvshows to know more</p>
        <main id="main">
            <div
              class="person crew-tvshow"
              *ngFor="let crew_data of crewTvList.slice().reverse() let i = index;"
              [routerLink]="['/tvshowdetails', crew_data.id]"
            >
              <app-card [data]="crew_data"></app-card>
            </div>
        </main>

      </ng-template>
      <ng-template #nocrewtv>
        <div id="no-record_found_crew_tv">
          <h5 class="text-warning text-center">
            {{ personDetails.name }} is not as a crew member in any tvshows
          </h5>
        </div>
      </ng-template>
  </div>
</div>
